@import url("./fonts/stylesheet.css");
body {
	background-color: #181818;
	margin: 0;
}
h1 {
	color: #ffffff;
	font-family: Graphik;
	font-size: 80px;
	font-style: normal;
	font-weight: 500;
	line-height: 88px;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
}
h2 {
	color: #ffffff;
	font-family: Graphik;
	font-size: 52px;
	font-style: normal;
	font-weight: 400;
	line-height: 62px;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
}
.pageMain {
	width: 100%;
}
.topMenu {
	display: flex;
	align-items: center;
	margin-left: 17%;
	margin-right: 17%;
	margin-top: 30px;
}
.logoImg {
	width: 186px;
	height: 58px;
}
.topMenuButtonFirst {
	margin-left: 13%;
	color: #ffffff;
	border: 0;
	background: #181818;
	font-family: Graphik;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
}
.topMenuButton {
	padding-left: 5%;
	color: #ffffff;
	border: 0;
	background: #181818;
	font-family: Graphik;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
}
.topMenuLogin {
	margin-left: 16%;
	color: #ffffff;
	border: 1px solid #ffffff;
	background: #181818;
	font-family: Graphik;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
	height: 52px;
	width: 148px;
}
.headline {
	display: flex;
	justify-content: center;
	margin-top: 132px;
	margin-left: 27%;
	margin-right: 27%;
}
.subHeadline {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	margin-left: 31%;
	margin-right: 31%;
}
.commonText {
	color: #ffffff;
	font-family: Graphik;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
}
.tryLearnButtons {
	display: flex;
	justify-content: center;
	margin-top: 95px;
	width: 100%;
	overflow: hidden;
/*	margin-left: 40%;
	margin-right: 40%;*/
}
.tryButton {
	border: 0;
	width: 136px;
	padding: 20px 36px;
	background: #4452FE;
	color: #ffffff;
	font-family: Graphik;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0.20000000298023224px;
	white-space: nowrap;
}
.learnButton {
	margin-left: 2%;
	border: 1px solid #ffffff;
	color: #ffffff;
	width: 136px;
	padding: 20px 36px;
	background: #181818;
	font-family: Graphik;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0.20000000298023224px;
	white-space: nowrap;
}
.buttonText {
	display: block;
	overflow: hidden;
	height: auto;
	width: 56px;
}
.screensImg {
	display: flex;
	justify-content: center;
	margin-top: 35px;
	margin-left: 4%;
	margin-right: 4%;
	background-image: url(/screens.png);
}
.flexCenter {
	margin-top: 160px;
	display: flex;
	justify-content: center;
}
.chatBotContent {
	display: flex;
	margin-top: 80px;
	margin-left: 17%;
}
.lineCharImg {
	/*position: relative;
	z-index: 1;
	left: 37%;
	top: -250px;*/
	/*position: absolute;
	z-index: 1;
	right: 0;
	bottom: 0;*/
	position: relative;
	/*height: 759px;*/
}
.chatBotImg {
	position: relative;
	margin: 0px 4%;
	top: 0;
	left: 0;
}
.lineChartImg {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.chatBotSidebar {
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	margin-top: 5%;
}
.chatBotTitle {
	color: #ffffff;
	font-family: Graphik;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
	margin-left: 13px;
}
.chatBotText {
	color: #ffffff;
	font-family: Graphik;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	margin-top: 2%;
	width: 50%;
}
.contents {
	display: flex;
	margin-top: 54px;
	margin-left: 18%;
	margin-right: 18%;
	width: 100%;
}
.leftCard {
	width: 30%;
	background-color: #ffffff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.rightCard {
	width: 30%;
	background-color: #ffffff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 2%;
}
.cardTitle {
	color: 000000;
	font-family: Graphik;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 0.10000000149011612px;
	text-align: center;
	margin-top: 10%;
}
.cardText {
	color: #5C5C5C;
	font-family: Graphik;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
	margin-top: 6%;
	margin-left: 22%;
	margin-right: 22%;
}
.galleryFirstRow {
	display: flex;
	justify-content: center;
	margin-top: 54px;
}
.gallerySecondRow {
	display: flex;
	justify-content: center;
	margin-top: 44px;
}
.galleryImg {
	border-radius: 10px;
	margin-left: 2%;
}
.seeMoreButton {
	border: 1px solid #ffffff;
	color: #ffffff;
	width: 136px;
	padding: 12px 36px;
	background: #181818;
	font-family: Graphik;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0.20000000298023224px;
	white-space: nowrap;
}
.partners {
	display: flex;
	justify-content: center;
	margin-top: 61px;
}
.partnersLogo {
	margin-left: 4%;
}
.comments {
	display: flex;
	justify-content: center;
	margin-top: 60px;
	/*margin-left: 22%;
	margin-right: 22%;*/
	width: 100%;
}
.leftCommentBar {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 27%;
}
.rightCommentBar {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 27%;
	margin-left: 20px;
	margin-top: -20px;
}
.comment {
	background: #181818;
	border: 1px solid #DEDEDE;
	box-sizing: border-box;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}
.profileIcon {
	height: 50px;
	width: 50px;
	margin-top: 40px;
	margin-left: 40px;
}
.profileTitle {
	color: #ffffff;
	font-family: Graphik;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	margin-left: 23px;
	margin-top: 40px;
}
.profileText {
	display: block;
	color: #ffffff;
	font-family: Graphik;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	margin-top: 30px;
	margin-left: 40px;
	margin-bottom: 40px;
	margin-right: 70px;
}
.advertisement {
	margin-top: 230px;
	width: 100%;
}
.advertisementTable {
	display: flex;
	/*justify-content: center;*/
	margin-left: 11%;
	margin-right: 11%;
	border-radius: 33px;
	background: #343434;
	overflow: hidden;
}
.advertisementTableLeft {
	width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.advertisementTableRight {
	width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.advertisementText {
	color: #ffffff;
	font-family: Graphik;
	font-size: 52px;
	font-style: normal;
	font-weight: 400;
	line-height: 62px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	/*margin-top: 12%;*/
	margin-left: 17%;
}
.advertisementTryButton {
	border: 0;
	width: 190px;
	height: 52px;
	padding: 10px 70px;
	background: #4452FE;
	color: #ffffff;
	font-family: Graphik;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0.20000000298023224px;
	white-space: nowrap;
	margin-left: 15%;
	margin-top: 37px;
}
.advertisementButtonText {
	display: block;
	overflow: hidden;
	height: auto;
	width: 85px;
}
.footer {
	margin-top: 287px;
	width: 100%;
	margin-bottom: 7%;
}
.footerContainer {
	margin-left: 17%;
	margin-top: 17%;
	display: flex;
}
.footerTitle {
	color: #ffffff;
	font-family: Graphik;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
}
.footerText {
	color: #ffffff;
	font-family: Graphik;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	margin-top: 19px;
	white-space: nowrap;
}
